<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">NewsAPI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?category=business">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?category=entertainment">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?category=general">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?category=health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?category=science">Science</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?category=sports">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}?category=technology">Technology</a>
          </li>
        </ul>
        <form class="d-flex" method="get" action="{% url 'home' %}">
          <input class="form-control me-2" type="search" name="q" placeholder="Search by keyword" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- business entertainment general health science sports technology -->